<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form >
            <div class="form-group row">
                <label for="nombre" class="col-form-laber col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input  class="form-control" type="text" name="nombre" [(ngModel)]= "empleado.nombre" #ctrl="ngModel" required="">
                </div>
            </div>
            

            <!-- <div class="form-group row">
                <label for="fecha_ingreso" class="col-form-laber col-sm-2">Fecha Ingreso</label>
                <div class="col-sm-6">
                    <input  class="form-control" type="text" name="fecha_ingreso" [(ngModel)]= "empleado.fecha_ingreso">
                </div>
            </div> -->

            <div class="form-group row">
                <label for="Salario" class="col-form-laber col-sm-2">Salario</label>
                <div class="col-sm-6">
                    <input  class="form-control" type="number" name="Salario" [(ngModel)]= "empleado.salario" required="">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6" >
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!empleado.id else elseBlock">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" >editar</button> 
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>