<div class="card border-primary mb-3" >
    <div class="card-header">Solicitudes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de Solicitudes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button"[routerLink]="['/solicitud/form']" >Crear Solicitud</button>
        </div>   
        <table class="table table-bordered table-striped" *ngIf="solicitudes.length>0" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Resumen</th>
                    <th>Nombre Empleado</th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of solicitudes">
                    <td>{{solicitud.id}}</td>
                    <td>{{solicitud.codigo}}</td>
                    <td>{{solicitud.descripcion}}</td>
                    <td>{{solicitud.resumen}}</td>
                    <td>{{solicitud.empleado.nombre}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" name="editar" type="button" [routerLink]="['/solicitud/form',solicitud.id]" >Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" name="eliminar" (click)='delete(solicitud)' type="button" >Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



